<form [formGroup]="createOrUpdateForm">
  <ng-template [ngIf]="zone?.id">
    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput disabled type="text" [value]="zone?.id">
    </mat-form-field>
    <br><br>
  </ng-template>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" [errorStateMatcher]="matcher">
    <mat-error *ngIf="createOrUpdateForm.get('name')?.hasError('required')">Name is required</mat-error>
  </mat-form-field>
  <br><br>
  <mat-form-field appearance="fill">
    <mat-label>Location Value</mat-label>
    <input matInput type="number" formControlName="locationValue" [errorStateMatcher]="matcher">
    <mat-error *ngIf="createOrUpdateForm.get('locationValue')?.hasError('min')">Minimum value is 0</mat-error>
    <mat-error *ngIf="createOrUpdateForm.get('locationValue')?.hasError('required')">Location value is required</mat-error>
  </mat-form-field>
  <br><br>
  <button mat-raised-button color="accent" type="submit" (click)="submit()" [disabled]="processing || !createOrUpdateForm.valid">
    <mat-spinner *ngIf="processing; else notProcessing" color="accent" [diameter]="17"></mat-spinner>
    <ng-template #notProcessing>
      <mat-icon>save</mat-icon>
      <span>{{ zone?.id ? ' Update' : ' Create' }}</span>
    </ng-template>
  </button>
</form>
