<ng-template [ngIf]="scan" [ngIfElse]="enableScan">
  <mat-form-field appearance="fill">
    <mat-label>Camera</mat-label>
    <mat-select [(value)]="deviceCurrent">
      <mat-option value="">No Device Selected</mat-option>
      <mat-option *ngFor="let device of availableDevices" [value]="device">{{device.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <zxing-scanner [formats]="formats"
    [(device)]="deviceCurrent"
    (scanSuccess)="onCodeResult($event)"
    (camerasFound)="onCamerasFound($event)"
    [enable]="scan">
  </zxing-scanner>
</ng-template>
<ng-template #enableScan>
  <button mat-raised-button color="accent" (click)="scan = true">
    <mat-icon>qr_code_scanner</mat-icon>
    <span> Scan QR Code</span>
  </button>
</ng-template>
<br>
<div>OR</div>
<br>
<mat-form-field appearance="fill">
  <mat-label>Search Bus</mat-label>
  <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">
  <button matSuffix mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select()">
    <mat-option *ngFor="let bus of filteredBuses | async" [value]="bus.numberPlate">
      {{ bus.numberPlate }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
